group Main
    source https://api.nuget.org/v3/index.json
    storage:none
    framework: net5.0
    nuget Elmish
    nuget Fable.Mocha
    nuget Fable.SimpleJson
    nuget Feliz
    nuget Feliz.UseListener
    nuget FSharp.Core
    nuget Fable.Core
    nuget Fable.Elmish.React

group Analyzers
source https://www.nuget.org/api/v2

nuget FSharp.Analyzers.Sample